* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  body, html {
    height: 100%;
  }
  
  .background {
    background-image: url('image2.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cll{
    margin-bottom: 580px;
    text-align: justify;
    color: rgba(72, 7, 250, 0.877)
    
    ;
  }
  .signup-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    align-items: center;
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #45a049;
  }

  .text-align{
    text-align: center;
  }